{{ if .Site.Params.googlefonts }}
<link rel="stylesheet" href="{{ .Site.Params.googlefonts }}" type="text/css" media="all" />
{{ end }}
<link rel="manifest" href="/manifest.json">
<meta property="fb:pages" content="461752997953233" />
<!-- Global site tag (gtag.js) - Google Ads: 955920822 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-955920822"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-955920822');
</script>

<!-- Event snippet for Page view conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-955920822/3LJnCMDu95cCELbj6McD'});
</script>
